<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
   
    <h2>Welcome <%= currentUser %></h2>
    
    <h4>Create Folder</h4>
    <form action="/Folder/<%= currentUser %>" method="post">
        <label for="title">
            <input type="text" name="Title" id="title" placeholder="Folder Title">
        </label>
        <br>
        Select Privacy:
        <label>
            <input type="radio" name="Privacy" value="private">
            Private
        </label>
        
        <label>
            <input type="radio" name="Privacy" value="public">
            Public
        </label>
        <br>
        <button>Add Folder</button>
    </form>
    <br>
    <h4>Your Folders:</h4>
    <form action="/show_folder/<%= currentUser %>">
        <button>Folders</button>
    </form>
    <br>
    <form action="/pomodoro">
        <button>Set pomodoro</button>
    </form>

    <h3>Books for revision:</h3>
    <% booksRevision.forEach(book => { %>
        <li><%= book.Title %></li>
    <% }); %>

    <h3> Pending Revision Lecture Notes </h3>
    <% notesRevision.forEach(note => { %>
        <li><%= note.Title %></li>
    <% }); %>

    <h3>Pending Revision Lecture Videos</h3>
    <% videosRevision.forEach(video => { %>
        
        <li><%= video.Title %></li>
        Link: <Link><%= video.FileLink %></Link>
    <% }); %>

    <h3>Pending Revision Slides:</h3>
    <% slidesRevision.forEach(slide => { %>
        <li><%= slide.Title %></li>
        Link: <Link><%= slide.FileLink %></Link>
    <% }); %>


    

</body>
</html>